/* General Styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #333333; 
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 70px;
  background-color: #f9f9f9;
}

/* Title */
.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #032F30; 
}

/* Form Container */
.formContainer {
  background-color: #ffffff; 
  padding: 25px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
}

/* Label */
.label {
  font-size: 1rem;
  color: #333333; /* สีข้อความ */
  margin-bottom: 5px;
}

/* Input */
.input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  transition: border 0.3s ease;
}

.input:focus {
  border-color: #6BA3BE; /* เส้นขอบสีฟ้าเมื่อโฟกัส */
  outline: none;
}

/* Sign-In Button */
.signInButton {
  background-color: #032F30; /* สีเขียวเข้ม */
  color: white;
  padding: 12px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
  width: 100%;
}

.signInButton:hover {
  background-color: #6BA3BE; /* สีฟ้าอ่อน */
  transform: scale(1.02);
}

/* Link Container */
.linkContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

/* Links */
.link {
  font-size: 0.9rem;
  color: #032F30; /* สีเขียวเข้ม */
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  text-decoration: underline;
  color: #6BA3BE; /* สีฟ้าอ่อน */
}

/* Error Text */
.errorText {
  color: #ff4d4f; /* สีแดงสำหรับคำเตือน */
  font-size: 0.9rem;
  margin-top: -10px;
  margin-bottom: 10px;
}
