/* General Container */
.container {
  padding: 20px;
  padding-top: 100px;
  background-color: #f9f9f9;
  font-family: "Poppins", sans-serif;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title */
.title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #032f30;
  margin-bottom: 10px;
}

/* Contact Info Section */
.contactInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.contactItem {
  text-align: center;
  margin: 20px;
}

.contactTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #032f30;
  margin-bottom: 10px;
}

.contactItem p {
  font-size: 1rem;
  color: #555;
}
