/* General */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #efefef; 
}

/* Container */
.container {
  width: 100%;
}

/* Hero Section */
.hero {
  position: relative;
  height: 90vh;
  width: 100%;
  color: #f5faff;
}

.heroImage {
  object-fit: cover;
  z-index: 1;
}

.hero:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 2;
}

.heroContent {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heroTitle {
  font-size: 3rem;
  font-weight: bold;
}

.heroSubtitle {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.heroButton {
  background-color: #0073e6; /* สีฟ้า */
  color: #ffffff;
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.heroButton:hover {
  background-color: #005bb5; /* สีฟ้าเข้ม */
  transform: scale(1.1);
}

/* About Section */
.about {
  background: #ffffff;
  padding: 50px 20px;
  text-align: center;
}

.aboutContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.aboutText {
  max-width: 500px;
  text-align: left;
  font-size: 1.25rem;
  color: #333333;
}

.swiperContainer {
  max-width: 500px;
  position: relative;
}

.swiper {
  border-radius: 10px;
}

/* Rooms Section */
.rooms {
  padding: 50px 20px;
}

.sectionTitle {
  font-size: 2rem;
  color: #005bb5; /* สีฟ้าเข้ม */
  margin-bottom: 20px;
  text-align: center;
}

.roomGrid {
  display: flex;
  justify-content: center; /* จัดให้อยู่กึ่งกลาง */
  gap: 30px; /* เพิ่มระยะห่างระหว่างการ์ด */
}

.roomCard {
  background: white;
  padding: 20px 20px; /* เพิ่ม padding ให้ใหญ่ขึ้น */
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 280px; /* ขยายการ์ดให้ใหญ่ขึ้น */
}

.roomCard:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.roomImage {
  border-radius: 10px;
  width: 100%; /* ให้รูปปรับตามขนาดการ์ด */
  height: 160px; /* ขยายความสูงของรูปภาพ */
  object-fit: cover; /* ให้ภาพอยู่ในกรอบโดยไม่เสียสัดส่วน */
}

.roomTitle {
  font-size: 1.4rem; /* ขยายขนาดฟอนต์ */
  margin-top: 10px;
  color: #005bb5; /* สีฟ้าเข้ม */
  text-decoration: none; /* ป้องกันขีดเส้นใต้ */
}

.roomPrice {
  font-size: 1.2rem; /* เพิ่มขนาดข้อความราคา */
  color: gray;
}

/* Link Button */
.noUnderline {
  text-decoration: none;
  color: inherit;
}
